@charset "utf-8";

body {
  width: 1000px;
  margin: 100px auto 0;
  background-color: #eaeaea;
  background: url(./images/sinbun2.jpg) center center no-repeat;
  background-size: cover;
}

h1 {
  width: 270px;
  margin: 0 auto;
  font-family: 'Klee One', cursive;
  text-align: center;
  color: #fff;
}

.h1-2 {
  margin: 0 auto 20px;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

.target li {
  list-style: none;
}

.threeDays_code {
  margin: 50px 105px;
  color: #fff;
}

li:nth-child(1) {
  font-size: 24px;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
}

ul {
  font-family: 'Work Sans', sans-serif;
  padding-left: 0;
  color: #666;
}

li {
  list-style: none;
  margin: 30px;
}

.kousui {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(234, 234, 234, 0.5);
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.5);
}

img {
  width: 300px;
}

.precipitation {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#showtoday {
  margin: -25px 20% 100px;
  font-size: 32px;
  font-family: 'Klee One', cursive;
}
